	<!-- Nav bar -->
		<nav class="navbar navbar-light pg-gray fixed-top">
			<a routerLink="/user/{{uid}}/website/{{wid}}/page" class="pg-font-black"><i class="fas fa-chevron-left"></i></a>
			<div class="pg-80-width">
				<a class="navbar-brand font-weight-bold float-left" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget"><b class="pg-text-gray pg-underline">Widgets</b></a>
			</div>
			<a class="pg-font-black" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/new"><i class="fas fa-plus"></i></a>
		</nav>
	<!-- /Nav bar -->

	<!-- Widgets -->
		<div class="container-fluid">
			<div *ngFor="let widget of widgets" class="container-fluid">
				<!-- icons cogs and bars for each widgets -->
				<div class="pg-absolute-right no-background pg-front">
					<a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{widget._id}}"><i class="fas fa-cog"></i></a>
					<a class="pg-font-black" routerLink="/#"><i class="fas fa-bars"></i></a>
				</div>
				<!-- contents of widgets -->
				<div [ngSwitch]="widget.widgetType">
					<!-- heading -->
					<div *ngSwitchCase="'HEADING'">
						<div [ngSwitch]="widget.size">
							<div *ngSwitchCase="1">
								<h1>{{widget.text}}</h1>
							</div>
							<div *ngSwitchCase="2">
								<h2>{{widget.text}}</h2>
							</div>
							<div *ngSwitchCase="3">
								<h3>{{widget.text}}</h3>
							</div>
							<div *ngSwitchCase="4">
								<h4>{{widget.text}}</h4>
							</div>
							<div *ngSwitchCase="5">
								<h5>{{widget.text}}</h5>
							</div>
							<div *ngSwitchCase="6">
								<h6>{{widget.text}}</h6>
							</div>
						</div>
					</div>
					<!-- image -->
					<div *ngSwitchCase="'IMAGE'">
						<img [src]="widget.url" [style.width]="widget.width">
					</div>
					<!-- youtube -->
					<div *ngSwitchCase="'YOUTUBE'">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe [src]="this.getYoutubeURL(widget.url)" [style.width]="widget.width" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<!-- HTML -->
					<div *ngSwitchCase="'HTML'">
						<div [innerHTML]="parsedHTML(widget.text)">
						</div>
					</div>
					<!-- TEXT Input-->
					<div *ngSwitchCase="'TEXT'">
						<div *ngIf='widget.formatted'>
							<quill-editor [(ngModel)]="widget.text"></quill-editor>
						</div>
						<div *ngIf='!widget.formatted && (widget.rows===1 || !widget.rows)'>
							<input type="text" name="text" value='{{widget.text}}' placeholder="{{widget.placeholder}}" class="form-control">
						</div>
						<div *ngIf='!widget.formatted && widget.rows>1'>
							<textarea placeholder="{{widget.placeholder}}" rows='{{widget.rows}}' class="form-control">{{widget.text}}</textarea>
						</div>
					</div>					
				</div>
			</div>
		</div>

	<!-- Footer nav bar -->
		<nav class="navbar navbar-dark fixed-bottom pg-gray">
			<div class="pg-width">
				<a data-toggle="tooltip" data-placement="top" title="Publish" routerLink="/#"><i class="fas fa-upload"></i></a>
				<a data-toggle="tooltip" data-placement="top" title="Preview" class="pg-hor-space" routerLink="/#"><i class="fas fa-eye"></i></a>
				<a class="float-right" routerLink="/user/{{uid}}"><i class="fas fa-user"></i></a>
			</div>
		</nav>