	<!-- Nav bar -->
		<nav class="navbar navbar-light pg-gray fixed-top">
			<a routerLink="/user/:uid/website/:wid/page" class="pg-font-black"><i class="fas fa-chevron-left"></i></a>
			<div class="pg-80-width">
				<a class="navbar-brand font-weight-bold float-left" routerLink="/user/:uid/website/:wid/page/:pid/widget"><b class="pg-text-gray pg-underline">Widgets</b></a>
			</div>
			<a class="pg-font-black" routerLink="/user/:uid/website/:wid/page/:pid/widget/new"><i class="fas fa-plus"></i></a>
		</nav>
	<!-- /Nav bar -->

	<!-- Widgets -->
		<div class="container-fluid">
			<!-- Header -->
				<div class="container-fluid">
					<div class="pg-absolute-right">
						<a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid"><i class="fas fa-cog"></i></a>
						<a class="pg-font-black" routerLink="/#"><i class="fas fa-bars"></i></a>
					</div>
					<h1>Welcome</h1>
				</div>
			<!-- /Header -->
			<!-- Sub Header -->
				<div class="container-fluid">
					<div class="pg-absolute-right no-background">
						<a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid"><i class="fas fa-cog"></i></a>
						<a class="pg-font-black" routerLink="/#"><i class="fas fa-bars"></i></a>
					</div>
					<h5>Us Senate Reasches Compromise on Emergency Funding</h5>
				</div>
			<!-- /Sub Header -->
			<!-- Image -->
				<div class="container-fluid">
					<div class="pg-absolute-right no-background">
						<a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid"><i class="fas fa-cog"></i></a>
						<a class="pg-font-black" routerLink="/#"><i class="fas fa-bars"></i></a>
					</div>
					<img width="100%" src="https://www.w3schools.com/howto/img_fjords.jpg">
				</div>
			<!-- /Image -->
			<!-- Another Sub Header -->
				<div class="container-fluid">
					<div class="pg-absolute-right no-background">
						<a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid"><i class="fas fa-cog"></i></a>
						<a class="pg-font-black" routerLink="/#"><i class="fas fa-bars"></i></a>
					</div>
					<h6>Please watch video for details</h6>
				</div>
			<!-- /Another Sub Header -->
			<!-- Youtube Video -->
				<div class="container-fluid">
					<div class="pg-absolute-right pg-front no-background">
						<a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid"><i class="fas fa-cog"></i></a>
						<a class="pg-font-black" routerLink="/#"><i class="fas fa-bars"></i></a>
					</div>
					<div class="embed-responsive embed-responsive-16by9">
					<iframe width="100%" height="360" src="https://www.youtube.com/embed/eMkZ8GEVgUw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
			<!-- /Youtube Video -->
			<!-- Paragraph -->
				<div class="container-fluid">
					<div class="pg-absolute-right">
						<a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid"><i class="fas fa-cog"></i></a>
						<a class="pg-font-black" routerLink="/#"><i class="fas fa-bars"></i></a>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			<!-- /Paragraph -->
		</div>
	<!-- /Widgets -->

	<!-- Footer nav bar -->
		<nav class="navbar navbar-dark fixed-bottom pg-gray">
			<div class="pg-width">
				<a data-toggle="tooltip" data-placement="top" title="Publish" routerLink="/#"><i class="fas fa-upload"></i></a>
				<a data-toggle="tooltip" data-placement="top" title="Preview" class="pg-hor-space" routerLink="/#"><i class="fas fa-eye"></i></a>
				<a class="float-right" routerLink="/user/:uid"><i class="fas fa-user"></i></a>
			</div>
		</nav>
	<!-- /Footer nav bar -->