	<!-- Top nav bar -->
		<nav class="navbar navbar-dark bg-primary fixed-top">
			<a class="pg-font-white" routerLink="/user"><i class="fas fa-chevron-left"></i></a>
			<div class="pg-80-width">
				<a class="navbar-brand font-weight-bold float-left pg-underline" routerLink="/user/{{uid}}/website">Websites</a>
			</div>
			<a class="pg-font-white" routerLink="/user/{{uid}}/website/new"><i class="fas fa-plus"></i></a>
		</nav>
	<!-- /Top nav bar -->
	
	<!-- Web list part -->
		<div class="container-fluid animate-bottom">
			<ul class="list-group">
			  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let website of websites" >
			    <a routerLink="/user/{{uid}}/website/{{website._id}}/page">{{website.name}}</a>
			    <a routerLink="/user/{{uid}}/website/{{website._id}}"><i class="fas fa-cog"></i></a>
			  </li>
			</ul>
		</div>
	<!-- /Web list part -->

	<!-- Footer nav bar -->
		<nav class="navbar navbar-dark bg-primary fixed-bottom">
			<div class="pg-width">
				<a class="pg-font-white float-right" routerLink="/user/{{uid}}"><i class="fas fa-user"></i></a>
			</div>
		</nav>
	<!-- /Footer nav bar -->
