	<!-- top nav bar -->
		<nav class="navbar navbar-dark bg-primary fixed-top">
			<a class="navbar-brand font-weight-bold pg-underline" routerLink="/user/:uid">Profile</a>
			<button class="btn pg-font-white pg-button-like-a" type="submit" form="profileForm" [disabled]="f.invalid"><i class="fas fa-check"></i></button>
		</nav>
	<!-- /top nav bar -->

	<!-- form -->
		<div class="container">
			<div class="alert alert-danger" *ngIf="usernameTaken">Username already taken, please try another one</div>
			<div class="alert alert-success" *ngIf="submitSuccess">Update Successful!</div>
				<form (ngSubmit)="update()" id="profileForm" #f="ngForm">
					<div class="form-group">
						<label for="Username"><strong>User name</strong></label>
						<input type="text" name="username" placeholder="Username" class="form-control" required ngModel="{{user.username}}" #username="ngModel">
					</div>
					<div class="form-group">
						<label for="email"><strong>Email</strong></label>
						<input type="email" name="email" placeholder="example@email.com" class="form-control" ngModel="{{user.email}}" #email="ngModel">
					</div>
					<div class="form-group">
						<label for="firstName"><strong>First Name</strong></label>
						<input type="text" name="firstName" placeholder="First Name" class="form-control" ngModel="{{user.firstName}}" #firstName="ngModel">
					</div>
					<div class="form-group">
						<label for="lastName"><strong>Last Name</strong></label>
						<input type="text" name="lastName" placeholder="Last Name" class="form-control" ngModel="{{user.lastName}}" #lastName="ngModel">
					</div>
					<!-- buttons -->
						<a class="btn btn-primary btn-block" routerLink="/user/{{uid}}/website">Websites</a>
						<a class="btn btn-danger btn-block" (click)="logout()">Logout</a>
					<!-- /buttons -->
				</form>
		</div>
	<!-- /form -->
	
	<!-- footer nav bar -->
		<nav class="navbar navbar-dark bg-primary fixed-bottom">
			<div class="pg-width">
			<a class="pg-font-white float-right" routerLink="/user/:uid"><i class="fas fa-user"></i></a>
			</div>
		</nav>
	<!-- /footer nav bar -->
