		<div class="container animate-bottom">
			<h1>Login</h1>
			<div *ngIf="errorFlag" class ="alert alert-danger">Invalid username or password</div>
			<!-- form -->
				<form (ngSubmit)="login()" #f="ngForm">
					<span class ="alert alert-warning pg-small-alert" *ngIf ="username.invalid && username.touched">Please enter username</span>
					<div class="form-group">
						<input type="text" name="username" placeholder="Username" class="form-control" required ngModel #username="ngModel">
					</div>
					<span class ="alert alert-warning pg-small-alert" *ngIf ="password.invalid && password.touched">Please enter password</span>
					<div class="form-group">
						<input type="password" name="password" placeholder="Password" class="form-control" required ngModel #password="ngModel">
					</div>
					
					<!-- buttons -->
						<button class="btn btn-primary btn-block" [disabled]="f.invalid" type ="submit">Login</button>
						<button class="btn btn-success btn-block" routerLink="/register">Register</button>
					<!-- /buttons -->
				</form>
			<!-- /form -->
		</div>