	<!-- Top Nav Bars (Left & Right Part) -->
		<nav class="row navbar navbar-dark bg-primary fixed-top">	   
			<!-- Top left nav bar -->
				<div class="col-sm-4 d-none d-sm-block">
					<div class="container-fluid"> 
						<a class="pg-font-white" routerLink="/user/{{uid}}/website"><i class="fas fa-chevron-left"></i></a>
						<a class="pg-no-underline pg-left-padding" routerLink="/user/{{uid}}/website"><b class="pg-font-white pg-underline">Websites</b></a>
						<a routerLink="/user/{{uid}}/website/new" class="pg-font-white float-right"><i class="fas fa-plus"></i></a>
					</div>
				</div>
			<!-- /Top left nav bar -->

			<!-- Top Right nav bar -->
				<div class="col-sm-8">
					<div class="container-fluid"> 
						<a routerLink="/user/{{uid}}/website/{{wid}}" class="pg-no-underline"><b class="pg-font-white pg-underline">Edit Website</b></a>
						<button type="submit" class="btn pg-font-white float-right pg-button-like-a" form="websiteForm" [disabled]="f.invalid"><i class="fas fa-check"></i></button>
					</div>
				</div>
			<!-- /Top Right nav bar -->
		</nav>
	<!-- /Top Nav Bars (Left & Right Part) -->

	<!-- Left & Right part of the Page -->
		<div class="row">	
			<!-- left list part -->
					<div class="col-sm-4 d-none d-sm-block">
						<div class="container">
							<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let website of websites" >
			    					<a routerLink="/user/{{uid}}/website/{{website._id}}/page">{{website.name}}</a>
			    					<a routerLink="/user/{{uid}}/website/{{website._id}}"><i class="fas fa-cog"></i></a>
			  					</li>
							</ul>
						</div>
					</div>
			<!-- /left list part -->

			<!-- right form part -->
				<div class="col-sm-8">
					<div class="container">
						<form id="websiteForm" (ngSubmit)="update()" #f="ngForm">
							<!-- website name -->
							<div class="form-group">
								<label for="website-name"><strong>Website Name</strong></label>
								<input class="form-control" type="text" name="name" placeholder="Type your website name" required ngModel="{{website.name}}" #name="ngModel">
							</div>
							<span class="alert alert-warning pg-small-alert" *ngIf="name.invalid && name.touched">Please provide a name for the website</span>
							<!-- website desciption -->
							<div class="form-group">
								<label for="website-description"><strong>Website Description</strong></label>
								<textarea class="form-control" rows="5" name="description" placeholder="Input your description for this site" ngModel="{{website.description}}" #description="ngModel"></textarea>
							</div>
							<button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
							<button type="submit" class="btn btn-primary float-right" [disabled]="f.invalid">Update</button>
						</form>
					</div>
				</div>
			<!-- /right form part -->
		</div>
	<!-- Left & Right part of the Page -->
	
	<!-- Footer nav bar -->
		<nav class="navbar navbar-dark bg-primary fixed-bottom">
			<div class="pg-width">
			<a class="pg-font-white float-right" routerLink="/user/:uid"><i class="fas fa-user"></i></a>
			</div>
		</nav>
	<!-- /Footer nav bar -->
