	<!-- Top nav bar -->
		<nav class="navbar navbar-light pg-gray fixed-top">
			<a routerLink="/user/{{uid}}/website/{{wid}}/page" class="pg-font-black"><i class="fas fa-chevron-left"></i></a>
			<div class="pg-80-width">
				<a class="navbar-brand font-weight-bold float-left" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}"><b class="pg-text-gray pg-underline">Edit Page</b></a>
			</div>
			<button [disabled]="f.invalid" form="pageForm" class="btn pg-button-like-a pg-font-black" type="submit"><i class="fas fa-check"></i></button>
		</nav>
	<!-- /Top nav bar -->

	<!-- form -->
		<div class="container-fluid animate-bottom">
			<form id="pageForm" (ngSubmit)="update()" #f="ngForm">
				<div class="form-group">
					<label for="Name"><strong>Name</strong></label>
					<input type="text" required ngModel="{{page.name}}" #name="ngModel" name="name" class="form-control" placeholder="Page Name">
				</div>
				<div *ngIf="name.invalid && name.touched" class="alert alert-warning">Name can't be empty</div>
				<div class="form-group">
					<label for="text"><strong>Description</strong></label>
					<input type="text" ngModel="{{page.description}}" #description="ngModel" name="description" class="form-control" placeholder="Page Description">
				</div>
				<!-- buttons -->
					<div>
						<button class="btn btn-primary btn-block" type="submit" [disabled]="f.invalid">Update
						</button>
						<button type="button" class="btn btn-danger btn-block" (click)="remove()">Delete</button>
					</div>
				<!-- /buttons -->
			</form>
		</div>
	<!-- /form -->

	<!-- Footer nav bar -->
		<nav class="navbar navbar-dark pg-gray fixed-bottom">
			<div class="pg-width">
				<a class="float-right" routerLink="/user/{{uid}}"><i class="fas fa-user"></i></a>
			</div>
		</nav>
	<!-- Footer nav bar -->
