	<!-- Top nav bar -->
		<nav class="navbar navbar-light pg-gray fixed-top">
			<a routerLink="/user/:uid/website/:wid/page/:pid/widget" class="pg-font-black"><i class="fas fa-chevron-left"></i></a>
			<div class="pg-80-width">
				<a class="navbar-brand font-weight-bold float-left" routerLink="/#"><b class="pg-text-gray pg-underline">Widget Edit</b></a>
			</div>
			<a class="pg-font-black" routerLink="/user/:uid/website/:wid/page/:pid/widget"><i class="fas fa-check"></i></a>
		</nav>
	<!-- /Top nav bar -->

	<!-- form -->
		<div class="container-fluid">
			<form>
				<!-- widget name -->
				<div class="form-group">
					<label for="Name"><strong>Name</strong></label>
					<input type="text" name="name" class="form-control">
				</div>
				<!-- widget text -->
				<div class="form-group">
					<label for="text"><strong>Text</strong></label>
					<input type="text" name="text" class="form-control">
				</div>
				<!-- widget url -->
				<div class="form-group">
					<label for="URL"><strong>URL</strong></label>
					<input type="text" name="URL" class="form-control" placeholder="http://">
				</div>
				<!-- widget Width -->
				<div class="form-group">
					<label for="Width"><strong>Width</strong></label>
					<input type="text" name="width" class="form-control" placeholder="100%">
				</div>
				<!-- buttons -->
					<div>
						<a class="btn btn-danger btn-block" routerLink="/user/:uid/website/:wid/page/:pid/widget">Delete</a>
					</div>
				<!-- /buttons -->
			</form>
		</div>
	<!-- /form -->

	<!-- Footer nav bar -->
		<nav class="navbar navbar-dark fixed-bottom pg-gray">
			<div class="pg-width">
				<a class="float-right" routerLink="/user/:uid"><i class="fas fa-user"></i></a>
			</div>
		</nav>
	<!-- /Footer nav bar -->
