	<!-- Top nav bar -->
		<nav class="navbar navbar-light pg-gray fixed-top">
			<a class="pg-font-black" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget"><i class="fas fa-chevron-left"></i></a>
			<div class="pg-80-width">
				<a class="navbar-brand font-weight-bold float-left" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/new"><b class="pg-text-gray pg-underline">Choose Widget</b></a>
			</div>
		</nav>
	<!-- /Top nav bar -->
	
	<!-- Page list part -->
		<div class="container-fluid">
			<ul class="list-group">
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <button type="button" class="btn pg-button-like-a" (click)="create('HEADING')">Header</button>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid">Label</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid">HTML</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid">Text Input</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid">Link</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid">Button</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <button type="button" class="btn pg-button-like-a" (click)="create('IMAGE')">Image</button>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <button type="button" class="btn pg-button-like-a" (click)="create('YOUTUBE')">Youtube</button>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid">Data Table</a>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
			    <a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid">Repeater</a>
			  </li>
			</ul>
		</div>
	<!-- /Page list part -->

	<!-- Footer nav bar -->
		<nav class="navbar navbar-dark pg-gray fixed-bottom">
			<div class="pg-width">
				<a class="float-right" routerLink="/user/{{uid}}"><i class="fas fa-user"></i></a>
			</div>
		</nav>
	<!-- /Footer nav bar -->
