	<!-- Registration Page -->
		<div class="container animate-bottom">
			<h1>Register</h1>

			<!-- form -->
			<div class="alert alert-danger" *ngIf="usernameError">Username already taken, please try another one</div>
			<div class="alert alert-danger" *ngIf="passwordError">Password(s) doesn't match</div>
				<form (ngSubmit)="register()" #f="ngForm">
					<span class ="alert alert-warning pg-small-alert" *ngIf ="username.invalid && username.touched">Please enter username</span>
					<div class="form-group">
						<input type="text" name="username" placeholder="Username" class="form-control" required ngModel #username="ngModel">
					</div>
					<span class ="alert alert-warning pg-small-alert" *ngIf ="password.invalid && password.touched">Please enter password</span>
					<div class="form-group">
						<input type="password" name="password" placeholder="Password" class="form-control" required ngModel #password="ngModel">
					</div>
					<span class ="alert alert-warning pg-small-alert" *ngIf ="verifyPassword.invalid && verifyPassword.touched">Please Re-enter password</span>
					<div class="form-group">
						<input type="password" name="verifyPassword" placeholder="Verify password" class="form-control" required ngModel #verifyPassword="ngModel">
					</div>
					<!-- buttons -->
						<button class="btn btn-primary btn-block" type="submit" [disabled]="f.invalid">Register</button>
						<button class="btn btn-danger btn-block" routerLink="/login">Cancel</button>
					<!-- /buttons -->
				</form>
			<!-- /form -->
		</div>
	<!-- /Registration Page -->
